<h1>Instrucciones de uso</h1>

<p>
  Para consumir la api, debemos realizar una petición a la siguiente dirección:
</p>
<h6>
  https://catalogolibros-ts-production.up.railway.app/api/books/:id?
</h6>

<p>
  Se puede incluir el parametro id, que es opcional, se trata de un numero
  entero y permite filtrar la busqueda por categorias, para listar las
  categorias existentes se puede utilizar

</p>

<h6>
  https://catalogolibros-ts-production.up.railway.app/api/categories
</h6>