<div class="jumbotron m-auto">
  <h1 class="display-4">Hola!</h1>
  <p class="lead">Este es mi primer proyecto desplegado.</p>
  <hr class="my-4">
  <p class="lead">Cuenta con estas vistas principales, un API sencilla y un panel de administración desde donde se añaden elementos.</p>
  <p class="lead">
    <a class="btn btn-primary" href="/about" role="button">Leer mas</a>
  </p>
</div>