<main class="form-sign w-50 m-auto">
  <form action="/auth/cms/signup" method="post">
    <h1>Registrar usuario</h1>
    <input type="text" name="usernameSignup" class="form-control my-2" placeholder="Nombre de usuario"/>
    <input type="email" name="emailSignup" class="form-control my-2" placeholder="Email"/>
    <input type="password" name="passwordSignup" class="form-control my-2" placeholder="Contraseña"/>
    <input type="password" name="isSecret" class="form-control my-2"/>
    <button type="submit" class="btn btn-primary my-2">Registrar</button>
  </form>
</main>