<main class="form-sign w-50 m-auto">
  <form action="/auth/cms/signin" method="post">
    <h1>Inicio de sesión</h1>
    <input type="email" name="emailSignin" class="form-control my-2" placeholder="Email" />
    <input type="password" name="passwordSignin" class="form-control my-2" placeholder="Contraseña" />
    <button type="submit" class="btn btn-primary my-2">Iniciar sesión</button>
  </form>
</main>
