<form action="/auth/cms/signup" method="post">
<label for="usernameSignup">Nombre de usuario</label>
    <input type="text" name="usernameSignup">
    <label for="emailSignup">Email</label>
    <input type="email" name="emailSignup" id="">
    <label for="passwordSignup">Contraseña</label>
    <input type="password" name="passwordSignup" id="">
    <label for="isSecret">Texto de seguridad</label>
    <input type="password" name="isSecret">
    <button type="submit">Registrar</button>
</form>