<form action="/auth/cms/signin" method="post">
    <input type="email" name="emailSignin" id="">
    <input type="password" name="passwordSignin" id="">
    <button type="submit">Enviar</button>
</form>