<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />
  </head>
  <body>

    <nav class="navbar navbar-light bg-primary">
      <a href="" class="navbar-brand">Gestor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/cms" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="/cms/add" class="nav-link">Agregar...</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">Principal</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>